<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="master.css">
        <title>Boolzapp</title>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    </head>
    <body>

        <div id="root">
            <aside>
                <div class="topside">
                    <div class="mylogo">
                        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fraw.githubusercontent.com%2FAshwinvalento%2Fcartoon-avatar%2Fmaster%2Flib%2Fimages%2Fmale%2F45.png&f=1&nofb=1" alt="">
                    </div>
                    <div class="cta">
                        <i class="fas fa-circle-notch"></i>
                        <i class="far fa-comment-alt"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>

                </div>
                <section id="info-status">
                    <i class="far fa-bell-slash"></i>
                    <div class="infouser">
                        <span>Ricevi notifiche nuovi messaggi</span>
                        <p>Attiva notifiche desktop</p>
                    </div>
                </section>
                <nav>
                    <button class="search"type="button">
                        <i class="fas fa-search"></i>
                    </button>
                    <input placeholder="Cerca o inizia una nuova chat"class="search-input"type="text">
                </nav>
                <section id="list">
                    <ul>
                        <li @click="takeIndex(index)" class="preview" v-for="item,index in contacts">
                            <img :src="'img/avatar'+item.avatar+'.jpg'" alt="">
                            <div class="name-item">
                                <span>{{item.name}}</span>
                                 <p>{{item.messages[item.messages.length-1].message}}</p>
                            </div>
                            <div class="user-date">
                                17.33
                                <!-- {{item.messages[item.messages.length-1].date}} -->
                            </div>
                        </li>
                    </ul>

                </section>

            </aside>
            <main>
                <div class="topmain">
                    <div class="userlogo">
                        <img :src="'img/avatar'+contacts[myIndex].avatar+'.jpg'" alt="">
                        <div class="infouser">
                            <span>{{contacts[myIndex].name}}</span>
                            <p>ultimo accesso alle 18:00</p>

                        </div>
                    </div>
                    <div class="cta">
                        <i class="fas fa-search"></i>
                        <i class="fas fa-paperclip"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                </div>
                <section id="chat" >
                    <div id="personal" v-for="(item,index) in contacts[myIndex].messages">
                        <div class="received">
                            {{item.message}}
                        </div>
                    </div>
                    <div class="sent">
                        {{contacts[myIndex].replyes}}

                    </div>

                </section>
                <footer>
                    <button class="option-send"type="button" name="button">
                        <i class="far fa-smile"></i>
                    </button>
                    <input class="sender"@keyup.enter="insert(myIndex)" type="text" name="" value="" v-model="reply">
                    <button class="option-send" @click="insert(myIndex)" type="button" name="button">
                        <i class="fas fa-microphone"></i>
                    </button>
                </footer>


            </main>


        </div>

        <script src="main.js" charset="utf-8"></script>
    </body>
</html>
