* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to top, #dfe0d9, #dfe0d9 80%, #00a093 0);
    background-attachment:fixed;
    background-repeat: no-repeat;
}


#root {
    width: 1000px;
    height: 700px;

}

aside {
    width: 35%;
    height: 100%;
    float: left;
    background-color: white;
}
main {
    width: 65%;
    height: 100%;
    float: left;

}

.topside, .topmain {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0;
}
.mylogo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.myinfo {
    font-size: 14px;
}
li:hover {
    background-color: lightgrey;
}
.active {
    background-color: lightgrey;
}
img {
    width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 50%;
}

.cta {
    color: grey;
    margin: 10px;
}
.cta i {
    margin: 5px;
}

nav::after {
    content: '';
    clear: both;
    display: table;
}

#list {
    height: calc(100% - 173px);
}

.search {
    border: none;
    float: left;
    width: 50px;
    height: 30px;
    background-color: white;
    border-bottom: 1px solid lightgrey;
    border-top: 1px solid lightgrey;
}
.search-input {
    border: none;
    padding: 5px 20px;
    float: left;
    width: calc(100% - 50px);
    height: 30px;
    border-bottom: 1px solid lightgrey;
    border-top: 1px solid lightgrey;
}

.search:focus, .search-input:focus{
    outline: none;
}


.userlogo, #info-status {
    display: flex;
    align-items: center;
}
ul {
    width: 100%;
    display: inline-block;
    height: 100%;
    overflow-y: scroll;
}

li {
    list-style-type: none;
}

#info-status {
    height: 73px;
    background-color: lightblue;
    padding: 10px;

}

.infouser {
    margin: 10px;
}

.infouser span, .name-item span{
    font-size: 15px;
    font-weight: bold;
}

.infouser>p {
    font-size: 13px;
}

.name-item>p {
    padding-top: 5px;
    font-size: 12px;
}
.user-date {
    font-size: 12px;
    position: absolute;
    right: 5px;
    top:2px;
}

.fa-bell-slash {
    background-color: white;
    padding: 12px;
    width: 50px;
    height: 50px;
    font-size: 23px;
    border-radius: 100%;
    color: lightblue;
}
.personal {
    position: relative;
}
.personal::after {
    content: '';
    clear: both;
    display: table;
}

.choose >.fa-angle-down {
    padding: 0 8px;
    cursor: pointer;
}

.preview {
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: 1px solid lightgrey;
}


.received {
    float: left;
    display: inline-block;
    min-width: 100px;
    max-width: 300px;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 30px;
    clear: both;
}
.choose {
    margin: 0 5px;
    position: relative;
    display: inline-block;
    float: right;
}
.sent {
    float: right;
    clear: both;
    display: inline-block;
    min-width: 100px;
    max-width: 300px;
    background-color: #e0f9cd;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 30px;
}

.hour {
    color: grey;
    position: relative;
    bottom: -10px;
    font-size: 11px;
    right: -22px;
}
.hide {
    display: none;
}

.received::after {
    content: '';
    width: 1px;
    height: 1px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid white;
    position: absolute;
    left: 13px;
    margin: 10px;
    top: 0;
}
.sent::after {
    content: '';
    width: 1px;
    height: 1px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #e0f9cd;
    position: absolute;
    right: 13px;
    margin: 10px;
    top: 0;
}
.note {
    font-size: 13px;
    border: 1px solid lightgrey;
    cursor: pointer;
    right: -25px;
    z-index: 2;
    margin: 10px;
    text-align: center;
    line-height: 20px;
    position: absolute;
    background-color: white;
    width: 130px;
    padding: 10px;
    height: 80px;
}

.note>p {
    border-bottom: 1px solid grey;
}
.note p {
    padding: 5px;
}

.more-info:hover .hide {
    width: 128px;
    display: inline-block;
    background-color: white;
    position: absolute;
    right: 0px;
}


#chat {
    height: 580px;
    background-image: url('https://i.imgur.com/1Rg03go.png');
    background-size: contain;
    overflow-y: scroll;
}


footer {
    height: 50px;
    background-color: #e7e6e5;
}
footer::after {
    content: '';
    clear: both;
    display: table;

}
.sender {
    float: left;
    width: calc(100% - 140px);
    height: 40px;
    margin: 5px 0;
    padding: 5px 30px;


}
.option-send {
    font-size: 1.5em;
    border: none;
    float: left;
    width: 70px;
    height: 50px;
    background-color: transparent;

}
